<h1>Listing model_shoes</h1>

<table>
  <thead>
    <tr>
      <th>Shoe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @model_shoes.each do |model_shoe| %>
      <tr>
        <td><%= model_shoe.shoe_id %></td>
        <td><%= link_to 'Show', model_shoe %></td>
        <td><%= link_to 'Edit', edit_model_shoe_path(model_shoe) %></td>
        <td><%= link_to 'Destroy', model_shoe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Model shoe', new_model_shoe_path %>
