<h1>Listing shoes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Company</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shoes.each do |shoe| %>
      <tr>
        <td><%= shoe.name %></td>
        <td><%= shoe.category_id %></td>
        <td><%= shoe.company_id %></td>
        <td><%= shoe.description %></td>
        <td><%= shoe.price %></td>
        <td><%= link_to 'Show', shoe %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

